.trit-head-panel {
    color: #3c434a;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    -webkit-font-smoothing: subpixel-antialiased;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    outline: 0;
    -webkit-tap-highlight-color: transparent!important;
    box-sizing: border-box;
    margin-left: -20px;
    padding: 8px 20px;
    width: calc(100% + 20px);
    z-index: 9999;
    background-color: #fff; 
}

.trit-head-panel h1 {
  line-height: 1.1;
}

.trit-head-panel p {
  font-weight: 500;
}

.trit-form-fields {

  height: auto;
  /* width: 80%; */
  border: 1px solid lightgray;
  margin-top: 40px;

  color: #3c434a;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  -webkit-font-smoothing: subpixel-antialiased;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  outline: 0;
  -webkit-tap-highlight-color: transparent!important;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  padding: 1.5rem;
  position: relative;
}

.trit-settings-title {
  color: #3c434a;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  --tw-bg-opacity: 1;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  outline: 0;
  -webkit-tap-highlight-color: transparent!important;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-right: 5rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.trit-form-fields-label {
  color: #042740;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  --tw-bg-opacity: 1;
  font-weight: 600;
  line-height: 2rem;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  outline: 0;
  -webkit-tap-highlight-color: transparent!important;
}

.trit-form-fields-label span {
  display: block;
  font-size: 0.8em;
  margin-bottom: 15px;
  font-weight: initial;
  line-height: 1.5;
}

.trit-form-style-fields {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.trit-form-style-fields div {
  margin-right: 10px;
}

.trit-form-fields-label-class { 
  display: block;
  margin-left: 33px;
}

span.trit-form-fields-label { 
  padding:6px;
}

input:not([type="radio"]):not([type="checkbox"]),select {
  -webkit-font-smoothing: subpixel-antialiased;
    --tw-bg-opacity: 1;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    -webkit-tap-highlight-color: transparent!important;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    margin: 0 1px;
    font-size: 16px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    line-height: 2;
    -webkit-appearance: none;
    padding: 3px 10px;
    width: 100%;
    min-height: 35px;
    color: #3c434a;
    margin-bottom: 7px;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

.trit-form-fields-group {
  margin-bottom: 20px;
}

.trit-form-div-checkbox {
  padding: 5px;
}

@media screen and (min-width: 600px) {
  .trit-wrap-grid form {
    max-width: 65%; 
  }
}

.trit-form-div-checkbox label {
  padding: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
